<div>
    <!-- Supported variables -->
    <div colspan="1">${j2c.jiraProjectKey}</div>
    <div colspan="1">${j2c.version}</div>
    <div colspan="1">${j2c.releaseComment}</div>

    <!-- Supported functions -->
    <div colspan="1">${uuid()}</div>

    <!-- All following variables are deprecated !!! -->
    <div colspan="1">${version}</div>   
    <div colspan="1">${releaseComment}</div>
    <div colspan="1">${project.jiraProjectKey}</div>
</div>